*{
    margin: 0;
    padding: 0
}


body{
    font-family: 'Montserrat';
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/table.jpg");
    /*background: #3e3e3e;*/
}

.moneyUser{
    display: flex;
    position: absolute;
    align-items: center;
    right: 64px;
    top: 64px;
    width: 200px;
    justify-content: center;
    gap: 16px;
}

.moneyUser i{
    font-size: 32px;
    padding-right: 0.5px;
}

.moneyUser p{
    color:white;
    font-weight: bold;
}

.moneyUser div:first-child{
    background: white;
    padding: 8px;
    border-radius: 100px;
}

.ranking{
    background: rgba(0, 0, 0, 0.3);
    height: 350px;
    width: 600px;
    color: white;
    border-radius: 16px;
    overflow-y: auto
}

.ranking .userRank{
    display: flex;
    justify-content: space-evenly;
    padding-block: 25px;
    border-bottom: 1px solid white;
}

.ranking .userRank p{
    text-align: center;
}

.containerRanking{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

button{
    border-radius: 5px;
    background: #b6b600;
    border: none;
    padding: 16px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button:hover{
    cursor: pointer;
}

button:active{
    background: #9e9e00;
    zoom: 0.99;
}

.footer{
    position: absolute;
    left: 50%;
    bottom: 64px;
    transform: translateX(-50%);
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.weather:hover{
    cursor: pointer;
}

.roulette{
    overflow: hidden;
    height: 350px;
    width: 383px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1;
    left: 719px;
    top: 216px;
    transform: translateX(-50%);
}

/*.roulette{*/
/*    overflow: hidden;*/
/*    height: 350px;*/
/*    width: 750px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

@keyframes spin2 {
    0% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1000%);
    }

    100% {
        transform: translateY(0);
    }
}

.roulette .images-container.spin {
    animation: spin2 2s linear;
}

footer{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .zone{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

footer .zone h1{
    font-size: 12px;
}

footer .zone p{
    font-size: 24px;
}