{% extends 'layout/layout.html' %}

<body style="height: 100%; width: 100%">
    <h1>Misez !</h1>
{% block content %}

    <h1>C'est parti !</h1>
    <ul>
    {% for event in events %}
        <li>{{ event.nom }}</li>
    {% endfor %}
    </ul>

    <div style="display: none">
        <h1 id="roulette"></h1>
        <h1 id="roulette2"></h1>
        <h1 id="roulette3"></h1>
    </div>

    <div style="position: relative; height: 100%; width: 100%">
        <div class="roulette">
            <div class="images-container" style="width: 100%; background: white">
                <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            </div>
            <div class="images-container" style="width: 100%; background: white">
                <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            </div>
            <div class="images-container" style="width: 100%; background: white">
                <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
                <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            </div>
        </div>
        <div style="position:absolute; top: 0; height: 750px; width: 100%; z-index: 2">
            <img src="/static/images/mach3.png" alt="" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>

    <div id="btnZone" style="height: 50px; width: 100%; display: flex; position: absolute; bottom: 100px; justify-content: center; gap: 16px; z-index: 99">
        <button id="recup" type="" style="padding-inline: 25px">Récupérer les gains</button>
        <button id="lancer" style="padding-inline: 75px">Lancer</button>
        <a href="/play" id="rejouer">
            <button style="padding-inline: 50px">Rejouer</button>
        </a>
    </div>

    <footer>
        <div class="zone">
            <h1>Mise :</h1>
            <p id="mise">{{ data.bet }} €</p>
        </div>
        <div class="zone">
            <h1>Gain :</h1>
            <p id="gain">0 €</p>
        </div>
        <div class="zone">
            <h1>Lancer restant(s) :</h1>
            <p id="countlancer">3</p>
        </div>
        <div class="zone">
            <h1>Pari :</h1>
            <p id="betweather">{{ data.weather }}</p>
        </div>
        <div class="zone">
            <h1>Solde :</h1>
            <p>{{ money }} €</p>
        </div>
    </footer>

    {% csrf_token %}
    <input id="sendgain" type="hidden" name="gain">


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
<script>
    let countLancer = 3
    let game = true
    let gain = 0
    // let mise = parseInt(document.getElementById("mise").innerText)
    // let betweather = document.getElementById("betweather").innerText
    let ajout = mise

</script>
{% endblock %}
