{% extends 'layout/layout.html' %}

<body style="height: 100%; width: 100%">
    <h1>Misez !</h1>
{% block content %}

    <h1>C'est parti !</h1>
    <ul>
    {% for event in events %}
        <li>{{ event.nom }}</li>
    {% endfor %}
    </ul>

    <div style="display: none">
        <h1 id="roulette"></h1>
        <h1 id="roulette2"></h1>
        <h1 id="roulette3"></h1>
    </div>
    <p id="countlancer">3 lancers</p>

    <h1> MISE : {{ data.bet }} </h1>
    <h1> WEATHER : {{ data.weather }} </h1>


    <h1> MISE : <p id="mise">{{ data.bet }}</p> </h1>
    <h1> WEATHER : <p id="betweather">{{ data.weather }}</p> </h1>
    <h1 id="gain"></h1>

    <div class="roulette">
        <div class="images-container" style="width: 100%">
            <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
        </div>
        <div class="images-container" style="width: 100%">
            <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
        </div>
        <div class="images-container" style="width: 100%">
            <img id="firstImage" style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/rain.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/stormwebp.webp" alt=""><img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/chance.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/cloud.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/sun.png" alt="">
            <img style="height: 100%; width: 100%; object-fit: contain" src="/static/images/tornado.webp" alt="">
        </div>
    </div>

    <button id="lancer" onclick="lancers()" style="z-index: 99; position:absolute; bottom: 10%; left: 50%; transform: translateX(-50%); font-size: 24px; padding-inline: 78px">Lancer</button>

<!--    <div style="height: 100%; position: absolute; top: 0; left: 50%; transform: translateX(-50%)">-->
<!--        <img src="/static/images/mach.png" alt="" style="height: 100%">-->
<!--    </div>-->

<!--<button id="lancer" style="position:absolute; bottom: 10%; left: 50%; transform: translateX(-50%); font-size: 24px; padding-inline: 78px">Lancer</button>-->

<a href="/play" id="rejouer" style="font-size: 24px;">Rejouer</a>
{% csrf_token %}
<input id="sendgain" type="hidden" name="gain">
<button id="recup" type="submit" style="font-size: 24px; padding-inline: 78px">Récupérer les gains</button>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
<script>
    let countLancer = 3
    let game = true
    let gain = 0
    let mise = parseInt(document.getElementById("mise").innerText)
    let betweather = document.getElementById("betweather").innerText
    let ajout = mise

</script>
{% endblock %}
