{% extends 'layout/layout.html' %}

{% block content %}

    <a href="/">
        <button style="font-size: 16px;padding-inline: 24px;">HOME</button>
    </a>

    <h1>Play</h1>


    <section id="weatherBet" style="display: flex; gap: 16px">
        <div class="weather" data-weather="sun">
            <img style="width: 150px;" src="/static/images/sun.png" alt="">
        </div>
        <div class="weather" data-weather="cloud">
            <img style="width: 150px;" src="/static/images/cloud.png" alt="">
        </div>
        <div class="weather" data-weather="rain">
            <img style="width: 150px;" src="/static/images/rain.webp" alt="">
        </div>
        <div class="weather" data-weather="tornado">
            <img style="width: 150px;" src="/static/images/tornado.webp" alt="">
        </div>
    </section>

    <section>
        <form action="/game/" method="POST">
            {% csrf_token %}
            <input id="inputWeather" name="weather">
            <input id="bet" type="number" placeholder="Mise" name="bet">
            <button id="betRedirect" type="submit">Lancer !</button>
        </form>
    </section>

<script>
    let currentWeather = null
    let currentBet = null
    let currentMoney = parseInt(document.querySelector('#money').innerHTML)

    let selectWeather = document.querySelectorAll('.weather')
    let btnRedirectRoute = document.querySelector('#betRedirect')
    let inputbet = document.querySelector('#bet')

    selectWeather.forEach((e) => {
        e.addEventListener('click', (weather) => {
            selectWeather.forEach((element) => {
                element.style.border = '';
            });
            currentWeather = weather.target.closest('.weather').getAttribute('data-weather')
            weather.target.closest('.weather').style.border = '5px solid black'

            inputWeather.value = currentWeather
        })
    })

    inputbet.addEventListener('keyup', () => {
        currentBet = inputbet.value
    })

    // btnRedirectRoute.addEventListener('click', () => {
    //     if(currentBet > currentMoney){
    //         return
    //     }else if(currentMoney > currentBet){
    //         let data = {'selectWeather': selectWeather, 'bet' : currentBet}
    //         $.ajax({
    //             url: '/game/',
    //             type: 'POST',
    //             data: data,
    //             success: function(response) {
    //                 console.log(response)
    //                 // window.location.href = response.redirect;
    //             },
    //             error: function(xhr, errmsg, err) {
    //                 console.log(xhr.status + ": " + xhr.responseText);
    //             }
    //         });
    //         console.log("send", currentWeather, currentBet, currentMoney)
    //     }
    // })

</script>

{% endblock %}
