{% extends 'layout/layout.html' %}

{% block content %}
<a href="/">
    <button style="font-size: 16px;padding-inline: 24px;">HOME</button>
</a>


<div class="containerRanking classement">
        <div class="ranking classementdiv">
            {% if ranking %}
                {% for userRank in ranking %}
                    <div class="userRank">
                            <h2 class="ranknumber">{{ forloop.counter }}e</h2>
                            <h3>{{ userRank.user.username }}</h3>
                            <h2 class="usermoney">{{ userRank.money }} €</h2>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}