{% extends 'layout/layout.html' %}

{% block content %}

    <a href="/">
        <button style="font-size: 16px;padding-inline: 24px;">HOME</button>
    </a>

    <h1 class="title">Règles</h1>
    <p style="color: white; text-align: justify; width: 80%; margin: 2em auto">
        Bienvenue sur la Casino de la Météo !<br/>Le but du jeu est simple. C'est un jeu de hasard où trois roues tournent simultanément avant d'afficher un temps sur
        lesquels vous pouvez parier en amont.<br/>
        En fonction des combos que vous créer, vous n'obtenez pas les mêmes récompenses, c'est à vous de réfléchir sur ce que vous souhaitez gagner afin d'avoir un maximum de moula à la fin !
        Vous choisissez un temps, puis vous misez la somme que vous voulez, plus vous miser une grande somme, plus les gains seront élevés ! Mais attention, certaines combinaisons peuvent être des malus...<br><br>

        Voici les paramètres du jeu :<br><br>

        Soleil (5%)<br><br>

1 Soleil = mise x 5 + 1 free lancer (5%)<br>
2 Soleil = mise x 10 + 2 free lancer  (0,25%)<br>
3 Soleil = mise x 15 + 3 free lancer (0,0001%)<br><br>

Pluie (30%)<br><br>

1 pluies = rien (30%)<br>
2 Pluies = 3 free lancers (9%)<br>
3 Pluies = 5 free lancers (2,7%)<br><br>

Vent (15%)<br><br>

1 vent = rien (15%)<br>
2 Vent = gain x 1,5 (2,25%)<br>
3 Vent = gain x 3 (0,3375%)<br><br>

Nuages (30%)<br><br>

1 nuage = rien (30%)<br>
2 nuages (9%)<br>
3 Nuages = Deviner une température (tu trouve pas il se passe rien sinon gain x 2) (2,7%)<br><br>

Événements perturbateurs (20%) de chances de tomber sur un :<br><br>

Orages (10%)<br><br>

1 Orage = rien (10%)<br>
2/3 Orages = Perdu (1%)<br><br>

Chances (10%)<br><br>

1 chance = rien (10%)<br>
2 chances = rien (1%)<br>
3 Chances = gain x multiplicateur aléatoire (modifié) (0,1%)<br>
    </p>

{% endblock %}
